body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 50px;
}

.teams {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.team {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    cursor: pointer;
}

.team h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.team p {
    font-size: 2em;
    margin: 0;
}
